<%= form_with model: @post, html: {multipart: true} do |f| %>
  <% if @post.errors.any? %>
    <div id="form-group">
      <h5 class="form-text text-danger"><%= pluralize(@post.errors.count, "error") %> prohibited this article from being saved:</h5>

      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li class="text-danger"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
    <small class="text-muted form-text">Title length must be between 3 and 255.</small>
  </div>
  <div class="form-group">
    <%= f.label :category %>
    <%= f.select :category, Post.categories {|c| [c.key.capitalize, c.key]}, {}, {class: 'custom-select form-control text-uppercase'} %>
  </div>
  <div class="form-group">
    <label>Images</label>
    <div class="custom-file mb-5">
      <%= f.label :thumb_img, class: 'custom-file-label' %>
      <%= f.file_field :thumb_img, class: 'custom-file-input' %>
      <small class="text-muted form-text">Thumb image is required.</small>
    </div>
    <div class="custom-file">
      <%= f.label :header_img, class: 'custom-file-label' %>
      <%= f.file_field :header_img, class: 'custom-file-input' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control tinymce vh-80' %>
  </div>
  <div class="form-group">
    <div class="row justify-content-end">
      <div class="col-lg-2 col-md-3 col-sm-6 mb-1 mb-sm-0">
        <%= f.submit 'Confirm', class: 'btn btn-primary w-100' %>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6">
        <%= link_to "Go back", :back, class: "btn btn-secondary w-100" %>
      </div>
    </div>
  </div>
<% end %>